
<p>
  <mat-toolbar class="mt-2 ttl hide" >
    <span style="color: darkblue !important;">Airbnb Admin Dashboard</span>
  </mat-toolbar>
</p>

<mat-nav-list >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard"> <mat-icon>dashboard</mat-icon> <span class="hide">Dashboard</span> </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/products"> <mat-icon>house</mat-icon> <span class="hide">Properties</span> </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/addprop"> <mat-icon>add</mat-icon> <span class="hide">Edit Properties</span> </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/users"> <mat-icon>person</mat-icon> <span class="hide"> Users</span> </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/addusers"> <mat-icon>edit</mat-icon> <span class="hide"> Edit Users</span> </a>


</mat-nav-list>