

table {
  width: 90%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 6vw;
}

.example-disabled {
  display: inline-block;
}

.mtt {

  margin-top: 1vw;
  color: white;
  font-family: cursive;
  background-color: darkblue;
}

@media (max-width: 768px) {
  .hide {
    display: none !important;
  }
}
#inp {

  margin: 5px;
}

#btn {
  margin: 5px;
}